body{
    background-color: #1B1A17;
}
#logo{
    margin-left: 12px;
    width: 1%;
    align-items: center;
}
#contenedor{
    margin: 12px;
    background-color: #F0A500;
}
main{
    background-color: #F0A500;
}
footer{
    margin-top: 12px;
    background-color: #F0A500;
}
ul{
    display: inline-block;
    background:#E45826;
    color:black;
    margin: right 15px;
    border-radius: 15%;
}
#iconofrutas{
    align-items: left;
}
/*cfrutas{
    text-align: left;
    font-size: xx-large;
}