body{
    background-color: #1B1A17;
}
#logo{
    margin-left: 12px;
    width: 1%;
    align-items: center;
}
#contenedor{
    margin: 12px;
    background-color: #F0A500;
}
main{
    background-color: #F0A500;
}
footer{
    margin-top: 12px;
    background-color: #F0A500;
}
/*
li{
    width:100%;
    height:20px;
    text-align:left;
}
*/
ul{
    display: inline-block;
    background:#E45826;
    color:black;
    margin: right 15px;
}
#iconofrutas{
    width: 100%;
    align-items: baseline;
}
