* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    background-color: purple;
    width: 100vw;
    height: 100vh;
}

section {
    width: 80%;
    min-width: 320px;
    max-width: 500px;
    min-height: 500px;
    background-color: brown;
    margin: 0 auto;
}