* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    display: inline-block;
    width: 100vw;
    height: 3vw;
    overflow: hidden;
    background-color: blueviolet;
}
.logo {
    display: inline-block;
}
.nav {
    display: inline-block;
}
.nav__barra{
    background-color: pink;
    list-style: none;
    text-align: center;
}
.nav a {
    text-decoration: none;
}
.nav__barra li {
    display: inline-block;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
main {
    width: 100vw;
    height: 92vh;
    overflow: hidden;
    background-color: burlywood;
}
.aside {
    width: 20vw;
    float: left;
    background-color: blue;
    list-style: none;

}
#one {
    width: 200px;
    height: 150px;
    margin: 25px;
    border-radius: 5px;
    background-color: red;
    text-decoration: none;
}
#two {
    width: 200px;
    height: 150px;
    margin: 25px;
    border-radius: 5px;
    background-color: red;
    text-decoration: none;
}
#three {
    width: 200px;
    height: 150px;
    margin: 25px;
    border-radius: 5px;
    background-color: red;
    text-decoration: none;
}
#four {
    width: 200px;
    height: 150px;
    margin: 25px;
    border-radius: 5px;
    background-color: red;
    text-decoration: none;
}
section{
    display: inline-block;
    width: 80vw;
}
.container {
    background-color: aquamarine;

}
footer {
    color: aliceblue;
}
.social-net {
    background-color: forestgreen;
}
.social-net .redes {
    display: inline-block;
}
.social-net .info {
float: right;
}