* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    overflow: hidden;
    background-color: blueviolet;
}
.cabecera .logo {
    display: inline-block;
    float: left;
}
header .nav {
    float: right;
}
.nav {
    background-color: pink;
    padding: 20px;
    list-style: none;
    text-align: center;
}
.nav a {
    display: inline-block;
    font-size: 20px;
    margin: 10px 0;
    padding-left: 20px;
    padding-right: 20px;
}