* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    overflow: hidden;
    background-color: blueviolet;
}
header .logo {
    float: left;
}
header .nav {
    float: right;
}
.nav {
    background-color: pink;
    list-style: none;
    text-align: center;
}
.nav a {
    text-decoration: none;
}
.nav li {
    display: inline-block;
    font-size: 20px;
    margin: 10px 0;
    padding-left: 20px;
    padding-right: 20px;
}
main {
    width: 100%;
    overflow: hidden;
    background-color: burlywood;
}
.aside {
    width: 20vw;
    float: left;
    background-color: blue;
    list-style: none;

}
#one {
    width: 250px;
    height: 150px;
    border-radius: 5px;
    background-color: red;
    text-decoration: none;
    position: relative;
}
#two {
    width: 250px;
    height: 150px;
    border-radius: 5px;
    background-color: red;
    text-decoration: none;
}
#three {
    width: 250px;
    height: 150px;
    border-radius: 5px;
    background-color: red;
}
#four {
    width: 250px;
    height: 150px;
    border-radius: 5px;
    background-color: red;
}
section{
    float: right;
    width: 75vw;
    background-color: aqua;
}
.container {
    display: inline;
    background-color: aquamarine;

}
footer {
    color: aliceblue;
}
.social-net {
    background-color: forestgreen;
}