* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header {
    width: 100%;
    height: 10vh;
    background-color: #125C13;
}
.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-container a {
    text-decoration: none;
    font-size: 1.5rem;
    
    color: white;
}
.nav-container a:hover {
    color: white;
    background-color: black;
    border-radius: 1.5rem;
}
.camera-logo {
    padding: 1rem;
    width: 5rem;
    height: 5rem;
}
main {
    width: 100vw;
    background-color: antiquewhite;
}
.box-container {
    display: flex;
    flex-wrap: wrap;
}
.c1, .c2, .c3, .c4, .c5{
    width: 100%;
    min-width: 15rem;
    height: 15rem;
}
.c4 {
    height: auto;
}

.c1 {
    background-color: blue;
}
.c2 {
    background-color: green;
}
.c3 {
    background-color: red;
}
.c4 {
    background-color: aqua;
}
.c5 {
    background-color: blueviolet;
}

footer {
    background-color: #125C13;
    width: 100%;
    height: 10vh;
}

@media (min-width:321px){
    .nav-container a {
        font-size: 3rem;
        padding: 1rem;
    }
}   