* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header {
    width: 100%;
    height: 10vh;
    background-color: #125C13;
}
.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-container a {
    text-decoration: none;
    font-size: 1.5rem; 
    color: white;
}
.nav-container a:hover {
    color: white;
    background-color: black;
    border-radius: 1.5rem;
}
.camera-logo {
    padding: 1rem;
    width: 5rem;
    height: 5rem;
}
main {
    width: 100vw;
    background-color: antiquewhite;
}
.box-container {
    display: flex;
    flex-wrap: wrap;
}
.c1, .c2, .c3, .c4, .c5{
    width: 100%;
    min-width: 15rem;
    height: 15rem;
}
.c4 {
    height: auto;
}

.c1 {
    height: auto;
}
.c2 {
    height: auto;
    font-size: 2rem;
    text-align: left;
    border: 0.2rem;
    border-radius: 0.5rem;
    text-align: justify;
}
.c2 h1{
    text-align: center;
    font-size: 3vw;
}
.c3 {
    display: none;
    height: auto;
}

.c5 {
    background-color: antiquewhite;
}
.c6 {
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    text-align: center;
}
.c6 h1 {
    text-align: center;
    font-size: 3rem;
}
figure {
    display: flex;
}
.banner {
    width: 100%;
}
.reflex {
    width: 100%;
}
.c5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.foto-1, .foto-2, .foto-3, .foto-4 {
    width: 15rem;
    height: 15rem;
}
.c5 {
    height: auto;
}
.foto-1{
    background-color: red;
}
.foto-2 {
    background-color: aqua;
}
.foto-3 {
    background-color: yellow;
}
.foto-4 {
    background-color: blue;
}


footer {
    background-color: #125C13;
    width: 100%;
    height: 10vh;
}

@media (min-width:640px){
    .nav-container a {
        font-size: 3vw;
        padding: 1rem;
    }
    .c4 {
        display: flex;
    }
    .c2, .c3 {
        width: 50%;
    }
    .c3 {
        display:contents;
    }
}
@media (min-width: 800px) {
    header {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    main {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    footer {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-container a {
        font-size: 2.5rem;
        padding: 1rem;
    }
}   