* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.c1, .c2, .c3, .c4, .c5 {
    width: 100%;
    min-width: 150px;
    height: 150px;
}
.c4{
    height: auto;
}
.c1 {
    background-color: #789395;
}
.c2 {
    background-color: #94B49F;
}
.c3 {
    background-color: #B4CFB0;
}
.c4 {
    background-color: #E5E3C9;
}
.c5 {
    background-color: #083336;
}

@media (min-width: 600px) {
    .c1 {
        width: 25%;
    }
    .c4 {
        width: 75%
    }
    .c5 {
        width: 100%
    }
}

@media (min-width: 800px) {
    .container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .c1 {
        width: 50%;
        order: 1;
    }
    .c4 {
        width: 100%;
    }
    .c5 {
        width: 50%;
        order: 2;
    }
}